@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

section {
  margin-top: 3px;
  background-color: #DFF3FF;
}

.section-header {
  background-color: #0f487d;
  padding: 10px;
  padding-left: 30px;
}

.section-header-text {
  color: white;
  font-family: 'Russo One', sans-serif;
  font-size: 2rem;
  letter-spacing: .05rem;
}